*{
	font-family: sans-serif;
}

#contenedor{
	width: 80%;
	margin: auto;
}

#cabecera{

	background-image: url('../img/banner.jpg');
	/*background-color: black;*/
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 10em;
	text-transform: uppercase;
	background-size: 900px;
	height: 180px;
	background-repeat: no-repeat;
	background-position: center;
}
#menu{
	width: 900px;
	margin: auto;
}
#menu ul{
	list-style: none;
	padding: 10px;
	margin: 0px;
	background-color: #1e3356;
}

#menu li{
	display: inline;

}
#menu a:link, menu a:visited{
	color: white;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 18px;
	background-image: url('/iconos/page_go.png');
	background-repeat: no-repeat;
	background-position: left center;

}
#menu a:hover{
	color: black;
	background-color: white;
}


#contenido {
	width: 1300px;
	margin: 5px auto;
	/*height: 450px;*/
	border-radius: 15px;
	padding: 20px;

}

#formulario form{
	width: 700px;
	margin: 20px auto;

}
#formulario label{
	display: inline-block;
	width: 200px;
}

#formulario .error{
	color: red;
	font-weight: bolder;
	font-size:  1.2em;
}

#pie{
	width: 900px;
	margin: auto;
	clear: both;
	background-color: grey;
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}

.tituloClase{
	width: 1250px;
	margin: auto;

    color: white;
    background-color: #31b0d5;
    border-color: #269abc;

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.ui-jqueryuielements { 
	width: 250px; 
}



.ui-tooltip {
    padding: 10px 20px;
    border-radius: 20px;
    font: bold 14px"Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px green;
}
.ui-tooltip.warning {
    color: #44ba4c;
    background: #378e3d;
}
.ui-tooltip.danger {
    color: #212942;
    background: #3b5a99;
}